<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Pic:</b>
  <%= @teacher.pic %>
</p>

<p>
  <b>Profile:</b>
  <%= @teacher.profile %>
</p>

<p>
  <b>Cash:</b>
  <%= @teacher.cash %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
