<!DOCTYPE html>
<html>
<head>
<style type = "text/css">
body
{
font-family: Century Gothic, sans-serif;
background-color:#ffffcc;
}

#content {
  background-color: white;
  border: 3px solid gold;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  width: 500px;
}
</style>
</head>
<body>
  <div id="content">

<h1>Sign in!</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

	<br />

      <%= f.label :password %>
      <%= f.password_field :password %>

	<br />

      <%= radio_button_tag(:type, 1) %>
      <%= label_tag(:type_student, "Student") %>

	<br />
	
	<%= radio_button_tag(:type, 0) %>
      <%= label_tag(:type_adult, "Teacher") %>

	<br />

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New Student? <%= link_to "Sign up now!", signups_path %></p>
    <p>New Teacher? <%= link_to "Sign up now!", signupt_path %></p>
  </div>
</div>
</body>
</html>
